In [122]:
from selenium import webdriver
import pandas as pd

In [123]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get("https://www.nseindia.com/products/content/equities/equities/eq_security.htm")

In [124]:
symbol = driver.find_element_by_id('symbol')
rangRadioBtn= driver.find_element_by_id('rdDateToDate')
fromDate = driver.find_element_by_id('fromDate')
toDate= driver.find_element_by_id('toDate')
submitBtn= driver.find_element_by_id('get')
symbol.send_keys('Kewal Kiran Clothing')#Symbol Name
rangRadioBtn.click();
fromDate.send_keys('17-05-2017')#date should be in this fromat only
toDate.send_keys('02-06-2017')
# symbol.submit()
submitBtn.click();

In [125]:
# table = driver.find_all('table')[0] 
# cellText =driver.find_element_by_class_name('archives')
# cellText.get_attribute('innerHTML')
tableData = driver.find_element_by_xpath("//div[@id='historicalData']/table")
temp=tableData.text
temp

'Symbol Series Date Prev Close Open Price High Price Low Price Last Price Close Price VWAP Total Traded\nQuantity Turnover\nNo. of\nTrades Deliverable\nQty % Dly Qt to\nTraded Qty\nKKCL EQ 17-May-2017 1,714.00 1,722.00 1,782.70 1,722.00 1,740.00 1,742.20 1,743.75 1,255 21,88,409.80 178 800 63.75\nKKCL EQ 18-May-2017 1,742.20 1,742.20 1,742.20 1,711.00 1,719.75 1,717.70 1,722.29 607 10,45,429.00 83 394 64.91\nKKCL EQ 19-May-2017 1,717.70 1,715.00 1,744.95 1,679.00 1,740.00 1,735.05 1,719.20 1,358 23,34,667.70 157 512 37.70\nKKCL EQ 22-May-2017 1,735.05 1,706.05 1,749.00 1,706.05 1,736.00 1,733.30 1,735.48 175 3,03,709.65 54 92 52.57\nKKCL EQ 23-May-2017 1,733.30 1,717.00 1,736.05 1,695.65 1,727.20 1,727.20 1,726.06 641 11,06,405.40 39 572 89.24\nKKCL EQ 24-May-2017 1,727.20 1,713.00 1,719.90 1,695.00 1,704.20 1,703.35 1,707.01 211 3,60,179.25 39 167 79.15\nKKCL EQ 25-May-2017 1,703.35 1,703.35 1,722.00 1,703.35 1,705.05 1,712.75 1,712.03 99 1,69,490.85 33 48 48.48\nKKCL EQ 26-May-2017 1,712.75 1,757.75 1,757.80 1,711.85 1,713.40 1,713.40 1,716.54 147 2,52,331.50 24 88 59.86\nKKCL EQ 29-May-2017 1,713.40 1,705.05 1,725.00 1,688.00 1,710.00 1,710.00 1,710.36 395 6,75,592.00 53 352 89.11\nKKCL EQ 30-May-2017 1,710.00 1,710.00 1,715.00 1,692.95 1,715.00 1,715.00 1,708.48 42 71,756.05 11 33 78.57\nKKCL EQ 31-May-2017 1,715.00 1,715.00 1,718.00 1,700.35 1,718.00 1,718.00 1,715.15 135 2,31,545.45 22 114 84.44\nKKCL EQ 01-Jun-2017 1,718.00 1,718.00 1,730.00 1,698.15 1,715.10 1,714.60 1,714.39 2,036 34,90,507.20 68 1,889 92.78\nKKCL EQ 02-Jun-2017 1,714.60 1,705.90 1,736.75 1,705.90 1,706.10 1,720.35 1,726.23 131 2,26,135.60 25 79 60.31'

In [126]:
print(type(temp))

<class 'str'>

In [127]:
tableclean=temp.split('\n')
size=len(tableclean)
size

19

In [128]:
tableclean

['Symbol Series Date Prev Close Open Price High Price Low Price Last Price Close Price VWAP Total Traded',
 'Quantity Turnover',
 'No. of',
 'Trades Deliverable',
 'Qty % Dly Qt to',
 'Traded Qty',
 'KKCL EQ 17-May-2017 1,714.00 1,722.00 1,782.70 1,722.00 1,740.00 1,742.20 1,743.75 1,255 21,88,409.80 178 800 63.75',
 'KKCL EQ 18-May-2017 1,742.20 1,742.20 1,742.20 1,711.00 1,719.75 1,717.70 1,722.29 607 10,45,429.00 83 394 64.91',
 'KKCL EQ 19-May-2017 1,717.70 1,715.00 1,744.95 1,679.00 1,740.00 1,735.05 1,719.20 1,358 23,34,667.70 157 512 37.70',
 'KKCL EQ 22-May-2017 1,735.05 1,706.05 1,749.00 1,706.05 1,736.00 1,733.30 1,735.48 175 3,03,709.65 54 92 52.57',
 'KKCL EQ 23-May-2017 1,733.30 1,717.00 1,736.05 1,695.65 1,727.20 1,727.20 1,726.06 641 11,06,405.40 39 572 89.24',
 'KKCL EQ 24-May-2017 1,727.20 1,713.00 1,719.90 1,695.00 1,704.20 1,703.35 1,707.01 211 3,60,179.25 39 167 79.15',
 'KKCL EQ 25-May-2017 1,703.35 1,703.35 1,722.00 1,703.35 1,705.05 1,712.75 1,712.03 99 1,69,490.85 33 48 48.48',
 'KKCL EQ 26-May-2017 1,712.75 1,757.75 1,757.80 1,711.85 1,713.40 1,713.40 1,716.54 147 2,52,331.50 24 88 59.86',
 'KKCL EQ 29-May-2017 1,713.40 1,705.05 1,725.00 1,688.00 1,710.00 1,710.00 1,710.36 395 6,75,592.00 53 352 89.11',
 'KKCL EQ 30-May-2017 1,710.00 1,710.00 1,715.00 1,692.95 1,715.00 1,715.00 1,708.48 42 71,756.05 11 33 78.57',
 'KKCL EQ 31-May-2017 1,715.00 1,715.00 1,718.00 1,700.35 1,718.00 1,718.00 1,715.15 135 2,31,545.45 22 114 84.44',
 'KKCL EQ 01-Jun-2017 1,718.00 1,718.00 1,730.00 1,698.15 1,715.10 1,714.60 1,714.39 2,036 34,90,507.20 68 1,889 92.78',
 'KKCL EQ 02-Jun-2017 1,714.60 1,705.90 1,736.75 1,705.90 1,706.10 1,720.35 1,726.23 131 2,26,135.60 25 79 60.31']

In [129]:
closeval=[]

In [130]:
for i in range(6,size):
    temp2 = tableclean[i]
    tabclean2 = temp2.split(" ")
    requiredval=tabclean2[8]
    closeval.append(requiredval)

#    print(requiredval)

In [131]:
dfclose = pd.DataFrame({'closeval':closeval})

In [132]:
dfclose

    closeval
0   1,742.20
1   1,717.70
2   1,735.05
3   1,733.30
4   1,727.20
5   1,703.35
6   1,712.75
7   1,713.40
8   1,710.00
9   1,715.00
10  1,718.00
11  1,714.60
12  1,720.35

In [0]:
driver.close()