In [82]:
import pandas as pd

from dateutil import parser
from datetime import datetime
from dateutil.relativedelta import relativedelta

#import mysql.connector
from sqlalchemy import create_engine
import pandas.io.sql as psql
import sqlalchemy

In [83]:
database_username = 'root'
database_password = 'yash'
database_ip       = '127.0.0.1'
database_name     = 'mainschema'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [84]:
df = pd.read_sql('SELECT * FROM notmapped', con=database_connection)

In [85]:
del df['index']
df

               recoName SYMBOL
0              axisbank   None
1                   tcs   None
2              jkcement   None
3    greenplyindustries   None
4       knrconstruction   None
..                  ...    ...
211                wpil   None
212    rajshreepolypack   None
213    safariindustries   None
214              nirlon   None
215     hdfcassetmngtco   None

[216 rows x 2 columns]

In [87]:
for i in df['recoName']:
    print(i)
    print('Do you wish to enter the nse symbol: ')
    choice = input() 
    if choice == 'y' or choice == 'Y':
        print('Enter the NSE symbol: ')
        symbol = input()
        #append in db
        sqlupdate = "UPDATE symbolsmapped SET SYMBOL='"+symbol+"' WHERE recoName='"+i+"'"
        database_connection.execute(sqlupdate)
    elif choice=='s' or choice=='S':
        continue
    else:
        break

axisbank
Do you wish to enter the nse symbol:
n