<a href="https://colab.research.google.com/github/yash-1708/Stock-Analyst-Rating/blob/master/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
import pandas.io.sql as psql
from dateutil import parser

In [0]:
df=pd.read_csv('cm26JUL2019bhav.csv')

In [0]:
df.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
0,20MICRONS,EQ,35.9,35.90,34.7,35.15,35.05,35.10,7698,272092.80,26-JUL-2019,101,INE144J01027,NaN
1,3IINFOTECH,EQ,2.5,2.65,2.4,2.55,2.55,2.45,1486242,3785973.30,26-JUL-2019,616,INE748C01020,NaN
2,3MINDIA,EQ,20900.0,21157.65,20743.1,20903.40,20950.00,21162.15,2335,48721582.85,26-JUL-2019,578,INE470A01017,NaN
3,3PLAND,EQ,7.5,7.85,7.4,7.85,7.65,7.50,1425,10633.85,26-JUL-2019,8,INE105C01023,NaN
4,5PAISA,EQ,195.0,203.00,190.0,195.45,195.75,196.60,11362,2241283.30,26-JUL-2019,650,INE618L01018,NaN

In [0]:

db_connection = mysql.connector.connect(host="127.0.0.1", user="root", passwd="subodh30oct")

In [0]:
engine = create_engine('mysql+mysqlconnector://'+os.environ['MYSQL_USER']+':'+os.environ['MYSQL_PASSWORD']+'@'+os.environ['MYSQL_HOST_IP']+':'+os.environ['MYSQL_PORT']+'/sandbox', echo=False)

NameError: name 'os' is not defined

In [0]:
df.drop(columns=['SERIES', 'LAST', 'PREVCLOSE', 'TOTTRDVAL', 'TOTALTRADES', 'ISIN', 'Unnamed: 13'], inplace=True)

In [0]:
import sqlalchemy
database_username = 'root'
database_password = 'subodh30oct'
database_ip       = '127.0.0.1'
database_name     = 'stock'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))
df.to_sql(con=database_connection, name='table_name_for_df', if_exists='replace')

In [0]:
df.to.sql()