In [1]:
import pandas as pd
import numpy as np

import mysql.connector
from sqlalchemy import create_engine
import pandas.io.sql as psql
import sqlalchemy

from dateutil import parser
from datetime import datetime
from datetime import date
from dateutil.relativedelta import relativedelta

In [2]:
database_username = 'smarsproddbuser@mbt-smars-mysql'
database_password = 'modern@1234'
database_ip       = 'mbt-smars-mysql.mysql.database.azure.com'
database_name     = 'mainschema'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [3]:
df = pd.read_sql('SELECT * FROM marketsmojorecos', con=database_connection)
del df['srno']
del df['index']

In [4]:
df.drop_duplicates(keep = False, inplace = True)
df

,broker,company_name,current_price,recomended_buying,predict_date,target_price
0,Prabhudas Lilladher,Colgate Palmol. (I),1248.25,1274.35,2019-09-03,1159.00
1,Axis Direct,Larsen & Toubro,1310.90,1328.1,2019-09-03,1487.00
2,Nirmal Bang,Britannia Inds,2695.00,2704.8,2019-09-03,3220.00
3,Sushil Finance,Sahyadri Industries,147.00,145.5,2019-09-03,220.00
4,Geojit Financial Services,Tata Chemicals,580.95,579.06,2019-08-30,531.00
...,...,...,...,...,...,...
21453,Nirmal Bang,PNB Housing Finance,444.00,510.96,2019-10-25,576.00
21454,Nirmal Bang,Rel. Nippon LifeAsse,344.20,320.51,2019-10-25,323.00
21459,Kotak Securities,Praj Industries,103.10,108.15,2019-10-25,126.00
21461,Prabhudas Lilladher,Tata Motors,174.40,128.95,2019-10-25,138.00
21463,ICICIdirect.com,Globus Spirits,131.20,122.25,2019-10-25,160.00

In [5]:
start_date = '2016-01-01'
end_date = '2016-12-31'
date_object1 = datetime.strptime(start_date, '%Y-%m-%d').date()
date_object2 = datetime.strptime(end_date, '%Y-%m-%d').date()

In [6]:
mask = (df['predict_date'] > date_object1) & (df['predict_date'] <= date_object2)

# 2016 data

In [7]:
df1 = df.loc[mask]
df1 = df1.reset_index()
#del df1['level_0']
#del df1['srno']
#del df1['index']

In [8]:
df1

,index,broker,company_name,current_price,recomended_buying,predict_date,target_price
0,470,Religare,ICICI Bank,390.75,217.73,2016-08-04,181.82
1,4990,Geojit Financial Services,Bajaj Corp,250.65,408.35,2016-06-13,513.00
2,4991,Motilal Oswal,Hero MotoCorp,2574.80,3123.74,2016-06-09,3305.00
3,4994,Motilal Oswal,PI Industries,1190.50,698.73,2016-06-09,750.00
4,4995,Centrum,Mahindra & Mahindra,513.90,1385.7,2016-06-09,1500.00
...,...,...,...,...,...,...,...
1426,19219,Edelweiss,Ipca Laboratories,957.25,558.00,2016-04-07,440.00
1427,19220,Nirmal Bang,Aurobindo Pharma,605.95,762.15,2016-04-07,894.00
1428,19221,ICICIdirect.com,HCL Tech.,1108.65,840.00,2016-04-06,1000.00
1429,19224,Angel Broking,Dewan Hsg Fin. Corp.,47.15,189.00,2016-04-05,270.00
1430,19226,ICICIdirect.com,Ultratech Cem,3883.75,3237.00,2016-04-01,3600.00

In [9]:
print("No of Brokers in 2016 :",df1['broker'].nunique()) 
s1=len(df1)

No of Brokers in 2016 : 55

In [11]:
df3=pd.DataFrame()
for i in range(0,len(df1)): 
    sym=df1.at[i, 'company_name']
    sym = sym.lower()
    sym = sym.replace(" ","")
    sym = sym.replace(".","")
    sym = sym.replace("(i)","")
    sym = sym.replace("(","")
    sym = sym.replace(")","")
    sym = sym.replace("-","")
    sqlrun = "SELECT SYMBOL FROM symbolsmapped WHERE recoName = '"+sym+"'"
    df3 = df3.append(pd.read_sql(sqlrun, con=database_connection),ignore_index=True)

In [12]:
df4 =pd.concat([df1,df3],axis=1)
df4

,index,broker,company_name,current_price,recomended_buying,predict_date,target_price,SYMBOL
0,470,Religare,ICICI Bank,390.75,217.73,2016-08-04,181.82,ICICIBANK
1,4990,Geojit Financial Services,Bajaj Corp,250.65,408.35,2016-06-13,513.00,BAJAJCORP
2,4991,Motilal Oswal,Hero MotoCorp,2574.80,3123.74,2016-06-09,3305.00,HEROMOTOCO
3,4994,Motilal Oswal,PI Industries,1190.50,698.73,2016-06-09,750.00,PIIND
4,4995,Centrum,Mahindra & Mahindra,513.90,1385.7,2016-06-09,1500.00,M&M
...,...,...,...,...,...,...,...,...
1426,19219,Edelweiss,Ipca Laboratories,957.25,558.00,2016-04-07,440.00,IPCALAB
1427,19220,Nirmal Bang,Aurobindo Pharma,605.95,762.15,2016-04-07,894.00,AUROPHARMA
1428,19221,ICICIdirect.com,HCL Tech.,1108.65,840.00,2016-04-06,1000.00,HCLTECH
1429,19224,Angel Broking,Dewan Hsg Fin. Corp.,47.15,189.00,2016-04-05,270.00,DHFL
1430,19226,ICICIdirect.com,Ultratech Cem,3883.75,3237.00,2016-04-01,3600.00,ULTRACEMCO

In [13]:
uniqueBrokers = df4.broker.unique()
uniqueBrokers

array(['Religare', 'Geojit Financial Services', 'Motilal Oswal',
       'Centrum', 'India Nivesh', 'Angel Broking', 'SMC Research',
       'Edelweiss', 'SPA Securities', 'Khambatta Securities',
       'Prabhudas Lilladher', 'ICICIdirect.com', 'Enochventures.com',
       'Dolat Capital', 'Arihant Capital Markets', 'Shahina Mukadam',
       'East India Securities Ltd', 'Phillip Capital', 'Nirmal Bang',
       'KRChoksey', 'Dynamic Levels', 'Axis Direct', 'Way2Wealth',
       'JM Financial', 'AnandRathi', 'Kotak Securities',
       'Reliance Securities', 'Sharekhan', 'Karvy Stock Broking', 'IIFL',
       'AUM Capital', 'Moneylicious', 'CD Equisearch',
       'Wallfort Financial', 'HDFC Securities', 'Choice Equity Broking',
       'Right Horizons', 'Systematix Shares & Stocks', 'Sethi Finmart',
       'Maximus Securities', 'Ajcon Global', 'YES Securities',
       'LKP Securities Limited', 'Cholamandalam Securities',
       'Rudra Shares & Stocks Brokers', 'Ashika Stock Broking',
       'Antique Stock Broking', 'Precision Technicals',
       'Avinash Gorakshakar - Market Expert', 'Powermywealth.com',
       'Blue Ocean Strategic Advisors',
       'Equinomics Research & Advisory Pvt. Ltd', 'Prakashgaba.com',
       'Asian Market Securities', 'Elara Capital'], dtype=object)

In [24]:
del brokerPerformace
brokerPerformace = pd.DataFrame(columns=['Name','Hit Ratio','Avg. Growth','Total Recos'])
brokerPerformace

Empty DataFrame
Columns: [Name, Hit Ratio, Avg. Growth, Total Recos]
Index: []

In [26]:
brokerName = 'KRChoksey'
dfbrokerRecos = df4.loc[df4['broker'] == brokerName]
print('brokerName : ',brokerName)
hits=0
growthSum=0
total=0
for index, row in dfbrokerRecos.iterrows():
    #print(row)
    sym = row['SYMBOL']
    #print(type(sym))
    
    avgGrowth=0
    targetp=0
    recbuying=0
    maxval=0
    growthperc=0
    
    if type(sym) == str :
        mydate1 = row['predict_date']#prediction date
        mydate2 = mydate1 + relativedelta(years=1)#date 1 year after prediction
        dbyear1 = "nse"+str(mydate1.year)
        dbyear2 = "nse"+str(mydate2.year)
        
        sqlrun1 = "SELECT * FROM "+dbyear1+" WHERE Date >= '"+str(mydate1)+"' AND Symbol = '"+sym+"'"
        dfprices1 = pd.read_sql(sqlrun1, con=database_connection)
        del dfprices1['index']
        
        sqlrun2 = "SELECT * FROM "+dbyear2+" WHERE Date <= '"+str(mydate2)+"' AND Symbol = '"+sym+"'"
        dfprices2 = pd.read_sql(sqlrun2, con=database_connection)
        del dfprices2['index']
        dfprices = pd.concat([dfprices1,dfprices2],ignore_index=True)
        print(dfprices)
        targetp = float(row['target_price'])
        
        print("SYMBOL : ",sym)
        dfhits = dfprices.loc[dfprices['Closeval'] >= targetp]
            
        total = total + 1
            
        if not dfhits.empty :
            print("HIT!")
            hits = hits + 1
            recbuying = float(row['recomended_buying'])
            maxval = dfprices['Closeval'].max()
            growthperc = (maxval - recbuying) *100 / recbuying
            print('Growth : ',growthperc)
            if np.isnan(growthperc):
                total = total-1
            else:    
                if(growthperc < 200):
                    growthSum = growthSum + growthperc
                else:
                    print("----------------ALERT--------------")
                    high = recbuying * 1.2
                    low = recbuying * 0.8
                    recDate = row['predict_date']
                    print("recDate : ",recDate)
                    dferr = dfprices.loc[dfprices['Date'] == recDate]
                    #print("---------------------------------------------------------------")
                    #print(dferr)
                    #print(recbuying)
                    #print(dferr['Closeval'].iloc[0])
                    #print("---------------------------------------------------------------")
                    if dferr['Closeval'].iloc[0] >= low and dferr['Closeval'].iloc[0] <= high :
                        growthSum = growthSum + growthperc
                    else:
                        total = total-1
        else:
            print("DIDN'T HIT!")
        del dfprices
        del dfhits
if total != 0:
    hitRatio = int(hits*100 / total)
    avgGrowth = int(growthSum / total)
    print("Broker : ", brokerName, "HitRatio : ", hitRatio, "Avg. Growth : ", avgGrowth, "Total Recos. : ", total)
    brokerPerformace = brokerPerformace.append({'Name':brokerName,'Hit Ratio':hitRatio,'Avg. Growth':avgGrowth,'Total Recos':total}, ignore_index=True)

brokerName :  KRChoksey
    Symbol       Date  Closeval
0     ONGC 2016-05-30    213.45
1     ONGC 2016-05-31    210.75
2     ONGC 2016-06-01    210.65
3     ONGC 2016-06-02    212.80
4     ONGC 2016-06-03    211.85
..     ...        ...       ...
242   ONGC 2017-05-24    173.70
243   ONGC 2017-05-25    174.15
244   ONGC 2017-05-26    175.75
245   ONGC 2017-05-29    175.75
246   ONGC 2017-05-30    178.65

[247 rows x 3 columns]
SYMBOL :  ONGC
HIT!
Growth :  118.68647928786712
    Symbol       Date  Closeval
0     GAIL 2016-05-27    379.30
1     GAIL 2016-05-30    379.85
2     GAIL 2016-05-31    370.45
3     GAIL 2016-06-01    372.50
4     GAIL 2016-06-02    375.70
..     ...        ...       ...
241   GAIL 2017-05-22    390.20
242   GAIL 2017-05-23    380.35
243   GAIL 2017-05-24    390.65
244   GAIL 2017-05-25    401.00
245   GAIL 2017-05-26    401.75

[246 rows x 3 columns]
SYMBOL :  GAIL
HIT!
Growth :  82.27593152064449
    Symbol       Date  Closeval
0    CIPLA 2016-05-26    467.95
1    CIPLA 2016-05-27    473.45
2    CIPLA 2016-05-30    473.55
3    CIPLA 2016-05-31    472.65
4    CIPLA 2016-06-01    464.90
..     ...        ...       ...
242  CIPLA 2017-05-22    563.10
243  CIPLA 2017-05-23    533.20
244  CIPLA 2017-05-24    519.65
245  CIPLA 2017-05-25    504.00
246  CIPLA 2017-05-26    488.90

[247 rows x 3 columns]
SYMBOL :  CIPLA
DIDN'T HIT!
       Symbol       Date  Closeval
0    RELIANCE 2016-04-25   1016.90
1    RELIANCE 2016-04-26   1016.95
2    RELIANCE 2016-04-27   1019.40
3    RELIANCE 2016-04-28    996.70
4    RELIANCE 2016-04-29    982.70
..        ...        ...       ...
243  RELIANCE 2017-04-19   1368.80
244  RELIANCE 2017-04-20   1369.55
245  RELIANCE 2017-04-21   1402.50
246  RELIANCE 2017-04-24   1417.40
247  RELIANCE 2017-04-25   1432.80

[248 rows x 3 columns]
SYMBOL :  RELIANCE
HIT!
Growth :  41.86390532544379
       Symbol       Date  Closeval
0    HDFCBANK 2016-04-25   1093.25
1    HDFCBANK 2016-04-26   1113.85
2    HDFCBANK 2016-04-27   1124.20
3    HDFCBANK 2016-04-28   1113.95
4    HDFCBANK 2016-04-29   1132.35
..        ...        ...       ...
243  HDFCBANK 2017-04-19   1449.00
244  HDFCBANK 2017-04-20   1462.15
245  HDFCBANK 2017-04-21   1496.60
246  HDFCBANK 2017-04-24   1533.05
247  HDFCBANK 2017-04-25   1537.05

[248 rows x 3 columns]
SYMBOL :  HDFCBANK
HIT!
Growth :  40.49817184643509
         Symbol       Date  Closeval
0    INDUSINDBK 2016-04-22    981.50
1    INDUSINDBK 2016-04-25    982.35
2    INDUSINDBK 2016-04-26   1021.40
3    INDUSINDBK 2016-04-27   1040.00
4    INDUSINDBK 2016-04-28   1035.00
..          ...        ...       ...
242  INDUSINDBK 2017-04-17   1435.25
243  INDUSINDBK 2017-04-18   1431.75
244  INDUSINDBK 2017-04-19   1421.60
245  INDUSINDBK 2017-04-20   1427.60
246  INDUSINDBK 2017-04-21   1435.00

[247 rows x 3 columns]
SYMBOL :  INDUSINDBK
HIT!
Growth :  46.70918367346939
         Symbol       Date  Closeval
0    BAJFINANCE 2016-12-16    850.80
1    BAJFINANCE 2016-12-19    822.90
2    BAJFINANCE 2016-12-20    805.80
3    BAJFINANCE 2016-12-21    788.60
4    BAJFINANCE 2016-12-22    765.40
..          ...        ...       ...
244  BAJFINANCE 2017-12-11   1707.80
245  BAJFINANCE 2017-12-12   1699.25
246  BAJFINANCE 2017-12-13   1671.80
247  BAJFINANCE 2017-12-14   1685.85
248  BAJFINANCE 2017-12-15   1729.60

[249 rows x 3 columns]
SYMBOL :  BAJFINANCE
HIT!
Growth :  130.15240328253225
      Symbol       Date  Closeval
0    STRTECH 2016-12-09     98.15
1    STRTECH 2016-12-12     98.30
2    STRTECH 2016-12-13     97.40
3    STRTECH 2016-12-14     96.15
4    STRTECH 2016-12-15     96.20
..       ...        ...       ...
244  STRTECH 2017-12-04    268.35
245  STRTECH 2017-12-05    276.45
246  STRTECH 2017-12-06    274.85
247  STRTECH 2017-12-07    281.50
248  STRTECH 2017-12-08    292.45

[249 rows x 3 columns]
SYMBOL :  STRTECH
HIT!
Growth :  212.4468085106383
----------------ALERT--------------
recDate :  2016-12-09

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:58: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and 'the values will not compare equal to the
'datetime.date'. To retain the current behavior, convert the
'datetime.date' to a datetime with 'pd.Timestamp'.

         Symbol       Date  Closeval
0    TATAMOTORS 2016-11-22    464.85
1    TATAMOTORS 2016-11-23    471.50
2    TATAMOTORS 2016-11-24    452.95
3    TATAMOTORS 2016-11-25    452.35
4    TATAMOTORS 2016-11-28    454.70
..          ...        ...       ...
245  TATAMOTORS 2017-11-16    413.45
246  TATAMOTORS 2017-11-17    421.80
247  TATAMOTORS 2017-11-20    423.00
248  TATAMOTORS 2017-11-21    424.25
249  TATAMOTORS 2017-11-22    428.60

[250 rows x 3 columns]
SYMBOL :  TATAMOTORS
DIDN'T HIT!
    Symbol       Date  Closeval
0      IGL 2016-11-18    840.40
1      IGL 2016-11-21    816.80
2      IGL 2016-11-22    826.30
3      IGL 2016-11-23    827.95
4      IGL 2016-11-24    835.55
..     ...        ...       ...
244    IGL 2017-11-13    314.40
245    IGL 2017-11-14    314.15
246    IGL 2017-11-15    303.75
247    IGL 2017-11-16    299.60
248    IGL 2017-11-17    301.80

[249 rows x 3 columns]
SYMBOL :  IGL
HIT!
Growth :  860.6547619047619
----------------ALERT--------------
recDate :  2016-11-18
       Symbol       Date  Closeval
0    PETRONET 2016-11-17    347.75
1    PETRONET 2016-11-18    376.25
2    PETRONET 2016-11-21    367.05
3    PETRONET 2016-11-22    377.60
4    PETRONET 2016-11-23    376.60
..        ...        ...       ...
245  PETRONET 2017-11-13    265.35
246  PETRONET 2017-11-14    258.40
247  PETRONET 2017-11-15    250.95
248  PETRONET 2017-11-16    252.15
249  PETRONET 2017-11-17    254.90

[250 rows x 3 columns]
SYMBOL :  PETRONET
HIT!
Growth :  159.74063400576367
         Symbol       Date  Closeval
0    BANKBARODA 2016-11-15    174.30
1    BANKBARODA 2016-11-16    173.40
2    BANKBARODA 2016-11-17    174.75
3    BANKBARODA 2016-11-18    176.95
4    BANKBARODA 2016-11-21    161.10
..          ...        ...       ...
245  BANKBARODA 2017-11-09    165.55
246  BANKBARODA 2017-11-10    169.80
247  BANKBARODA 2017-11-13    172.10
248  BANKBARODA 2017-11-14    174.35
249  BANKBARODA 2017-11-15    175.20

[250 rows x 3 columns]
SYMBOL :  BANKBARODA
HIT!
Growth :  21.58385093167702
    Symbol       Date  Closeval
0     SBIN 2016-11-15    278.20
1     SBIN 2016-11-16    277.20
2     SBIN 2016-11-17    277.45
3     SBIN 2016-11-18    275.80
4     SBIN 2016-11-21    257.35
..     ...        ...       ...
245   SBIN 2017-11-09    313.70
246   SBIN 2017-11-10    333.55
247   SBIN 2017-11-13    331.05
248   SBIN 2017-11-14    329.10
249   SBIN 2017-11-15    324.95

[250 rows x 3 columns]
SYMBOL :  SBIN
DIDN'T HIT!
         Symbol       Date  Closeval
0    MANAPPURAM 2016-11-11     90.10
1    MANAPPURAM 2016-11-15     74.90
2    MANAPPURAM 2016-11-16     77.80
3    MANAPPURAM 2016-11-17     78.30
4    MANAPPURAM 2016-11-18     75.55
..          ...        ...       ...
243  MANAPPURAM 2017-11-06    101.80
244  MANAPPURAM 2017-11-07     99.10
245  MANAPPURAM 2017-11-08     95.15
246  MANAPPURAM 2017-11-09     98.65
247  MANAPPURAM 2017-11-10     98.75

[248 rows x 3 columns]
SYMBOL :  MANAPPURAM
DIDN'T HIT!
        Symbol       Date  Closeval
0    SUNPHARMA 2016-11-11    688.00
1    SUNPHARMA 2016-11-15    682.45
2    SUNPHARMA 2016-11-16    667.40
3    SUNPHARMA 2016-11-17    669.25
4    SUNPHARMA 2016-11-18    688.85
..         ...        ...       ...
243  SUNPHARMA 2017-11-06    541.20
244  SUNPHARMA 2017-11-07    527.60
245  SUNPHARMA 2017-11-08    537.80
246  SUNPHARMA 2017-11-09    533.90
247  SUNPHARMA 2017-11-10    527.85

[248 rows x 3 columns]
SYMBOL :  SUNPHARMA
DIDN'T HIT!
         Symbol       Date  Closeval
0    BHARATFORG 2016-11-09    877.70
1    BHARATFORG 2016-11-10    880.85
2    BHARATFORG 2016-11-11    862.85
3    BHARATFORG 2016-11-15    892.50
4    BHARATFORG 2016-11-16    901.50
..          ...        ...       ...
244  BHARATFORG 2017-11-03    705.85
245  BHARATFORG 2017-11-06    710.30
246  BHARATFORG 2017-11-07    715.30
247  BHARATFORG 2017-11-08    730.75
248  BHARATFORG 2017-11-09    718.15

[249 rows x 3 columns]
SYMBOL :  BHARATFORG
HIT!
Growth :  199.96470588235292
        Symbol       Date  Closeval
0    ICICIBANK 2016-11-09    281.45
1    ICICIBANK 2016-11-10    292.60
2    ICICIBANK 2016-11-11    276.40
3    ICICIBANK 2016-11-15    269.75
4    ICICIBANK 2016-11-16    266.20
..         ...        ...       ...
244  ICICIBANK 2017-11-03    315.90
245  ICICIBANK 2017-11-06    316.10
246  ICICIBANK 2017-11-07    312.45
247  ICICIBANK 2017-11-08    305.50
248  ICICIBANK 2017-11-09    311.30

[249 rows x 3 columns]
SYMBOL :  ICICIBANK
HIT!
Growth :  33.988671810868496
        Symbol       Date  Closeval
0    BRITANNIA 2016-11-09   3124.20
1    BRITANNIA 2016-11-10   3204.15
2    BRITANNIA 2016-11-11   3079.35
3    BRITANNIA 2016-11-15   2929.35
4    BRITANNIA 2016-11-16   2991.00
..         ...        ...       ...
244  BRITANNIA 2017-11-03   4658.10
245  BRITANNIA 2017-11-06   4643.05
246  BRITANNIA 2017-11-07   4649.00
247  BRITANNIA 2017-11-08   4653.50
248  BRITANNIA 2017-11-09   4757.95

[249 rows x 3 columns]
SYMBOL :  BRITANNIA
HIT!
Growth :  52.20569417786307
        Symbol       Date  Closeval
0    UNIONBANK 2016-11-07    132.85
1    UNIONBANK 2016-11-08    129.55
2    UNIONBANK 2016-11-09    128.70
3    UNIONBANK 2016-11-10    143.05
4    UNIONBANK 2016-11-11    143.90
..         ...        ...       ...
244  UNIONBANK 2017-11-01    179.65
245  UNIONBANK 2017-11-02    171.05
246  UNIONBANK 2017-11-03    173.50
247  UNIONBANK 2017-11-06    176.55
248  UNIONBANK 2017-11-07    166.05

[249 rows x 3 columns]
SYMBOL :  UNIONBANK
HIT!
Growth :  42.16417910447761
       Symbol       Date  Closeval
0    CHOLAFIN 2016-11-03   1136.35
1    CHOLAFIN 2016-11-04   1118.30
2    CHOLAFIN 2016-11-07   1116.70
3    CHOLAFIN 2016-11-08   1108.20
4    CHOLAFIN 2016-11-09   1050.20
..        ...        ...       ...
244  CHOLAFIN 2017-10-30   1141.20
245  CHOLAFIN 2017-10-31   1151.20
246  CHOLAFIN 2017-11-01   1224.90
247  CHOLAFIN 2017-11-02   1243.90
248  CHOLAFIN 2017-11-03   1241.45

[249 rows x 3 columns]
SYMBOL :  CHOLAFIN
DIDN'T HIT!
    Symbol       Date  Closeval
0      UPL 2016-11-02    680.15
1      UPL 2016-11-03    669.35
2      UPL 2016-11-04    672.45
3      UPL 2016-11-07    668.35
4      UPL 2016-11-08    684.40
..     ...        ...       ...
244    UPL 2017-10-27    831.30
245    UPL 2017-10-30    824.40
246    UPL 2017-10-31    799.30
247    UPL 2017-11-01    782.05
248    UPL 2017-11-02    779.30

[249 rows x 3 columns]
SYMBOL :  UPL
HIT!
Growth :  30.145560407569146
         Symbol       Date  Closeval
0    BAJFINANCE 2016-11-01   1060.80
1    BAJFINANCE 2016-11-02   1019.85
2    BAJFINANCE 2016-11-03   1030.85
3    BAJFINANCE 2016-11-04    993.15
4    BAJFINANCE 2016-11-07    990.40
..          ...        ...       ...
244  BAJFINANCE 2017-10-26   1746.75
245  BAJFINANCE 2017-10-27   1819.00
246  BAJFINANCE 2017-10-30   1804.30
247  BAJFINANCE 2017-10-31   1800.60
248  BAJFINANCE 2017-11-01   1806.75

[249 rows x 3 columns]
SYMBOL :  BAJFINANCE
HIT!
Growth :  81.60962072155412
        Symbol       Date  Closeval
0    NESTLEIND 2016-11-01   6794.35
1    NESTLEIND 2016-11-02   6759.15
2    NESTLEIND 2016-11-03   6717.75
3    NESTLEIND 2016-11-04   6654.05
4    NESTLEIND 2016-11-07   6458.05
..         ...        ...       ...
244  NESTLEIND 2017-10-26   7144.90
245  NESTLEIND 2017-10-27   7170.65
246  NESTLEIND 2017-10-30   7219.65
247  NESTLEIND 2017-10-31   7239.00
248  NESTLEIND 2017-11-01   7317.70

[249 rows x 3 columns]
SYMBOL :  NESTLEIND
DIDN'T HIT!
         Symbol       Date  Closeval
0    BAJAJ-AUTO 2016-11-01   2825.60
1    BAJAJ-AUTO 2016-11-02   2818.80
2    BAJAJ-AUTO 2016-11-03   2829.85
3    BAJAJ-AUTO 2016-11-04   2814.30
4    BAJAJ-AUTO 2016-11-07   2824.10
..          ...        ...       ...
244  BAJAJ-AUTO 2017-10-26   3283.40
245  BAJAJ-AUTO 2017-10-27   3300.15
246  BAJAJ-AUTO 2017-10-30   3282.20
247  BAJAJ-AUTO 2017-10-31   3257.10
248  BAJAJ-AUTO 2017-11-01   3239.75

[249 rows x 3 columns]
SYMBOL :  BAJAJ-AUTO
HIT!
Growth :  16.161562829989442
         Symbol       Date  Closeval
0    BAJAJFINSV 2016-11-01   3458.90
1    BAJAJFINSV 2016-11-02   3372.55
2    BAJAJFINSV 2016-11-03   3347.75
3    BAJAJFINSV 2016-11-04   3196.70
4    BAJAJFINSV 2016-11-07   3141.45
..          ...        ...       ...
244  BAJAJFINSV 2017-10-26   4982.00
245  BAJAJFINSV 2017-10-27   5033.95
246  BAJAJFINSV 2017-10-30   4994.85
247  BAJAJFINSV 2017-10-31   5010.35
248  BAJAJFINSV 2017-11-01   5022.60

[249 rows x 3 columns]
SYMBOL :  BAJAJFINSV
HIT!
Growth :  65.79814921920186

     Symbol       Date  Closeval
0    MARUTI 2016-10-28   5876.15
1    MARUTI 2016-11-01   5878.10
2    MARUTI 2016-11-02   5794.60
3    MARUTI 2016-11-03   5805.55
4    MARUTI 2016-11-04   5704.85
..      ...        ...       ...
242  MARUTI 2017-10-23   7818.50
243  MARUTI 2017-10-24   7875.00
244  MARUTI 2017-10-25   7870.20
245  MARUTI 2017-10-26   8068.05
246  MARUTI 2017-10-27   8114.45

[247 rows x 3 columns]
SYMBOL :  MARUTI
HIT!
Growth :  39.23621778460489
      Symbol       Date  Closeval
0    STRTECH 2016-10-28    102.65
1    STRTECH 2016-11-01    102.75
2    STRTECH 2016-11-02     97.80
3    STRTECH 2016-11-03     95.45
4    STRTECH 2016-11-04     91.70
..       ...        ...       ...
242  STRTECH 2017-10-23    260.55
243  STRTECH 2017-10-24    267.15
244  STRTECH 2017-10-25    265.25
245  STRTECH 2017-10-26    268.05
246  STRTECH 2017-10-27    267.40

[247 rows x 3 columns]
SYMBOL :  STRTECH
HIT!
Growth :  156.7452830188679
    Symbol       Date  Closeval
0    CANBK 2016-10-27    315.00
1    CANBK 2016-10-28    313.75
2    CANBK 2016-11-01    311.65
3    CANBK 2016-11-02    294.00
4    CANBK 2016-11-03    295.70
..     ...        ...       ...
243  CANBK 2017-10-23    305.35
244  CANBK 2017-10-24    317.10
245  CANBK 2017-10-25    439.90
246  CANBK 2017-10-26    424.10
247  CANBK 2017-10-27    404.15

[248 rows x 3 columns]
SYMBOL :  CANBK
HIT!
Growth :  41.90322580645161
         Symbol       Date  Closeval
0    HINDUNILVR 2016-10-27    840.30
1    HINDUNILVR 2016-10-28    836.50
2    HINDUNILVR 2016-11-01    835.25
3    HINDUNILVR 2016-11-02    841.10
4    HINDUNILVR 2016-11-03    839.40
..          ...        ...       ...
243  HINDUNILVR 2017-10-23   1249.95
244  HINDUNILVR 2017-10-24   1270.05
245  HINDUNILVR 2017-10-25   1272.45
246  HINDUNILVR 2017-10-26   1273.70
247  HINDUNILVR 2017-10-27   1260.15

[248 rows x 3 columns]
SYMBOL :  HINDUNILVR
HIT!
Growth :  52.274346793349174
       Symbol       Date  Closeval
0    AXISBANK 2016-10-26    487.55
1    AXISBANK 2016-10-27    485.65
2    AXISBANK 2016-10-28    486.90
3    AXISBANK 2016-11-01    475.80
4    AXISBANK 2016-11-02    476.80
..        ...        ...       ...
243  AXISBANK 2017-10-19    460.30
244  AXISBANK 2017-10-23    449.95
245  AXISBANK 2017-10-24    451.95
246  AXISBANK 2017-10-25    473.00
247  AXISBANK 2017-10-26    484.30

[248 rows x 3 columns]
SYMBOL :  AXISBANK
DIDN'T HIT!
      Symbol       Date  Closeval
0    DRREDDY 2016-10-26   3242.30
1    DRREDDY 2016-10-27   3324.80
2    DRREDDY 2016-10-28   3363.45
3    DRREDDY 2016-11-01   3326.60
4    DRREDDY 2016-11-02   3260.80
..       ...        ...       ...
243  DRREDDY 2017-10-19   2373.05
244  DRREDDY 2017-10-23   2366.20
245  DRREDDY 2017-10-24   2363.65
246  DRREDDY 2017-10-25   2348.85
247  DRREDDY 2017-10-26   2344.35

[248 rows x 3 columns]
SYMBOL :  DRREDDY
DIDN'T HIT!
       Symbol       Date  Closeval
0    HDFCBANK 2016-10-26   1239.30
1    HDFCBANK 2016-10-27   1252.10
2    HDFCBANK 2016-10-28   1259.05
3    HDFCBANK 2016-11-01   1259.80
4    HDFCBANK 2016-11-02   1246.15
..        ...        ...       ...
243  HDFCBANK 2017-10-19   1848.40
244  HDFCBANK 2017-10-23   1863.30
245  HDFCBANK 2017-10-24   1867.10
246  HDFCBANK 2017-10-25   1795.10
247  HDFCBANK 2017-10-26   1795.35

[248 rows x 3 columns]
SYMBOL :  HDFCBANK
HIT!
Growth :  50.685483870967744
        Symbol       Date  Closeval
0    KOTAKBANK 2016-10-26    811.50
1    KOTAKBANK 2016-10-27    806.60
2    KOTAKBANK 2016-10-28    819.35
3    KOTAKBANK 2016-11-01    805.55
4    KOTAKBANK 2016-11-02    804.00
..         ...        ...       ...
243  KOTAKBANK 2017-10-19   1077.75
244  KOTAKBANK 2017-10-23   1061.55
245  KOTAKBANK 2017-10-24   1065.70
246  KOTAKBANK 2017-10-25   1010.55
247  KOTAKBANK 2017-10-26   1018.90

[248 rows x 3 columns]
SYMBOL :  KOTAKBANK
HIT!
Growth :  33.64634146341464
    Symbol       Date  Closeval
0      ITC 2016-10-26    238.75
1      ITC 2016-10-27    243.10
2      ITC 2016-10-28    243.10
3      ITC 2016-11-01    239.95
4      ITC 2016-11-02    237.30
..     ...        ...       ...
243    ITC 2017-10-19    269.65
244    ITC 2017-10-23    267.05
245    ITC 2017-10-24    267.00
246    ITC 2017-10-25    269.25
247    ITC 2017-10-26    268.40

[248 rows x 3 columns]
SYMBOL :  ITC
HIT!
Growth :  43.455497382198956
       Symbol       Date  Closeval
0    RELIANCE 2016-10-24   1063.30
1    RELIANCE 2016-10-25   1060.85
2    RELIANCE 2016-10-26   1054.05
3    RELIANCE 2016-10-27   1048.70
4    RELIANCE 2016-10-28   1054.95
..        ...        ...       ...
243  RELIANCE 2017-10-17    874.35
244  RELIANCE 2017-10-18    914.50
245  RELIANCE 2017-10-19    909.90
246  RELIANCE 2017-10-23    939.75
247  RELIANCE 2017-10-24    934.25

[248 rows x 3 columns]
SYMBOL :  RELIANCE
HIT!
Growth :  210.0526118000751
----------------ALERT--------------
recDate :  2016-10-24
      Symbol       Date  Closeval
0    HCLTECH 2016-10-24    810.65
1    HCLTECH 2016-10-25    804.55
2    HCLTECH 2016-10-26    790.85
3    HCLTECH 2016-10-27    774.30
4    HCLTECH 2016-10-28    763.15
..       ...        ...       ...
243  HCLTECH 2017-10-17    923.30
244  HCLTECH 2017-10-18    923.70
245  HCLTECH 2017-10-19    922.30
246  HCLTECH 2017-10-23    937.25
247  HCLTECH 2017-10-24    914.55

[248 rows x 3 columns]
SYMBOL :  HCLTECH
HIT!
Growth :  12.779014499729263
    Symbol       Date  Closeval
0    WIPRO 2016-10-24    483.95
1    WIPRO 2016-10-25    481.40
2    WIPRO 2016-10-26    471.55
3    WIPRO 2016-10-27    461.70
4    WIPRO 2016-10-28    462.10
..     ...        ...       ...
243  WIPRO 2017-10-17    289.85
244  WIPRO 2017-10-18    294.75
245  WIPRO 2017-10-19    292.05
246  WIPRO 2017-10-23    296.90
247  WIPRO 2017-10-24    296.80

[248 rows x 3 columns]
SYMBOL :  WIPRO
HIT!
Growth :  124.57932692307689
      Symbol       Date  Closeval
0    YESBANK 2016-10-24   1310.80
1    YESBANK 2016-10-25   1308.45
2    YESBANK 2016-10-26   1290.25
3    YESBANK 2016-10-27   1253.60
4    YESBANK 2016-10-28   1272.30
..       ...        ...       ...
243  YESBANK 2017-10-17    373.55
244  YESBANK 2017-10-18    362.40
245  YESBANK 2017-10-19    357.80
246  YESBANK 2017-10-23    353.90
247  YESBANK 2017-10-24    347.60

[248 rows x 3 columns]
SYMBOL :  YESBANK
HIT!
Growth :  613.754223453931
----------------ALERT--------------
recDate :  2016-10-24
      Symbol       Date  Closeval
0    STRTECH 2016-10-19    103.50
1    STRTECH 2016-10-20    107.30
2    STRTECH 2016-10-21    109.85
3    STRTECH 2016-10-24    110.85
4    STRTECH 2016-10-25    107.10
..       ...        ...       ...
244  STRTECH 2017-10-13    268.60
245  STRTECH 2017-10-16    262.45
246  STRTECH 2017-10-17    262.45
247  STRTECH 2017-10-18    257.00
248  STRTECH 2017-10-19    258.45

[249 rows x 3 columns]
SYMBOL :  STRTECH
HIT!
Growth :  164.22330097087374
    Symbol       Date  Closeval
0      TCS 2016-10-19   2395.10
1      TCS 2016-10-20   2401.15
2      TCS 2016-10-21   2428.65
3      TCS 2016-10-24   2427.70
4      TCS 2016-10-25   2398.45
..     ...        ...       ...
244    TCS 2017-10-13   2558.60
245    TCS 2017-10-16   2584.40
246    TCS 2017-10-17   2594.55
247    TCS 2017-10-18   2586.60
248    TCS 2017-10-19   2583.90

[249 rows x 3 columns]
SYMBOL :  TCS
HIT!
Growth :  12.333333333333334
    Symbol       Date  Closeval
0     INFY 2016-10-18   1039.05
1     INFY 2016-10-19   1041.80
2     INFY 2016-10-20   1036.65
3     INFY 2016-10-21   1038.30
4     INFY 2016-10-24   1027.10
..     ...        ...       ...
244   INFY 2017-10-12    927.30
245   INFY 2017-10-13    930.10
246   INFY 2017-10-16    939.00
247   INFY 2017-10-17    930.50
248   INFY 2017-10-18    924.35

[249 rows x 3 columns]
SYMBOL :  INFY
DIDN'T HIT!
         Symbol       Date  Closeval
0    INDUSINDBK 2016-10-14   1218.65
1    INDUSINDBK 2016-10-17   1209.00
2    INDUSINDBK 2016-10-18   1210.75
3    INDUSINDBK 2016-10-19   1211.30
4    INDUSINDBK 2016-10-20   1206.80
..          ...        ...       ...
243  INDUSINDBK 2017-10-09   1699.50
244  INDUSINDBK 2017-10-10   1725.15
245  INDUSINDBK 2017-10-11   1717.25
246  INDUSINDBK 2017-10-12   1743.00
247  INDUSINDBK 2017-10-13   1750.35

[248 rows x 3 columns]
SYMBOL :  INDUSINDBK
HIT!
Growth :  47.67106347897774

    Symbol       Date  Closeval
0     GSPL 2016-09-14    148.15
1     GSPL 2016-09-15    150.85
2     GSPL 2016-09-16    153.00
3     GSPL 2016-09-19    150.20
4     GSPL 2016-09-20    150.95
..     ...        ...       ...
243   GSPL 2017-09-08    193.30
244   GSPL 2017-09-11    196.90
245   GSPL 2017-09-12    198.80
246   GSPL 2017-09-13    198.45
247   GSPL 2017-09-14    196.35

[248 rows x 3 columns]
SYMBOL :  GSPL
HIT!
Growth :  34.17508417508417
       Symbol       Date  Closeval
0    PETRONET 2016-09-08    350.95
1    PETRONET 2016-09-09    349.65
2    PETRONET 2016-09-12    329.85
3    PETRONET 2016-09-14    334.05
4    PETRONET 2016-09-15    335.30
..        ...        ...       ...
242  PETRONET 2017-09-04    222.95
243  PETRONET 2017-09-05    225.85
244  PETRONET 2017-09-06    224.55
245  PETRONET 2017-09-07    225.95
246  PETRONET 2017-09-08    223.95

[247 rows x 3 columns]
SYMBOL :  PETRONET
HIT!
Growth :  156.05113636363635
    Symbol       Date  Closeval
0     MRPL 2016-09-08     83.65
1     MRPL 2016-09-09     84.35
2     MRPL 2016-09-12     82.40
3     MRPL 2016-09-14     83.05
4     MRPL 2016-09-15     83.00
..     ...        ...       ...
242   MRPL 2017-09-04    135.40
243   MRPL 2017-09-05    138.55
244   MRPL 2017-09-06    136.05
245   MRPL 2017-09-07    134.85
246   MRPL 2017-09-08    134.00

[247 rows x 3 columns]
SYMBOL :  MRPL
HIT!
Growth :  70.1829268292683
         Symbol       Date  Closeval
0    CHENNPETRO 2016-09-08    289.00
1    CHENNPETRO 2016-09-09    285.25
2    CHENNPETRO 2016-09-12    283.10
3    CHENNPETRO 2016-09-14    291.80
4    CHENNPETRO 2016-09-15    287.95
..          ...        ...       ...
242  CHENNPETRO 2017-09-04    451.05
243  CHENNPETRO 2017-09-05    453.70
244  CHENNPETRO 2017-09-06    446.70
245  CHENNPETRO 2017-09-07    446.75
246  CHENNPETRO 2017-09-08    443.20

[247 rows x 3 columns]
SYMBOL :  CHENNPETRO
HIT!
Growth :  59.44636678200692
    Symbol       Date  Closeval
0    CIPLA 2016-08-16    554.15
1    CIPLA 2016-08-17    549.85
2    CIPLA 2016-08-18    552.65
3    CIPLA 2016-08-19    556.80
4    CIPLA 2016-08-22    557.60
..     ...        ...       ...
242  CIPLA 2017-08-09    561.85
243  CIPLA 2017-08-10    548.20
244  CIPLA 2017-08-11    541.40
245  CIPLA 2017-08-14    570.05
246  CIPLA 2017-08-16    590.45

[247 rows x 3 columns]
SYMBOL :  CIPLA
DIDN'T HIT!
         Symbol       Date  Closeval
0    HEROMOTOCO 2016-08-09   3411.80
1    HEROMOTOCO 2016-08-10   3317.30
2    HEROMOTOCO 2016-08-11   3304.85
3    HEROMOTOCO 2016-08-12   3310.95
4    HEROMOTOCO 2016-08-16   3291.30
..          ...        ...       ...
242  HEROMOTOCO 2017-08-03   3838.35
243  HEROMOTOCO 2017-08-04   3956.55
244  HEROMOTOCO 2017-08-07   3952.70
245  HEROMOTOCO 2017-08-08   3913.40
246  HEROMOTOCO 2017-08-09   3883.75

[247 rows x 3 columns]
SYMBOL :  HEROMOTOCO
HIT!
Growth :  14.483506944444448
         Symbol       Date  Closeval
0    INDUSINDBK 2016-07-12   1125.20
1    INDUSINDBK 2016-07-13   1104.40
2    INDUSINDBK 2016-07-14   1114.10
3    INDUSINDBK 2016-07-15   1126.80
4    INDUSINDBK 2016-07-18   1130.90
..          ...        ...       ...
242  INDUSINDBK 2017-07-06   1519.55
243  INDUSINDBK 2017-07-07   1526.30
244  INDUSINDBK 2017-07-10   1560.35
245  INDUSINDBK 2017-07-11   1560.70
246  INDUSINDBK 2017-07-12   1577.00

[247 rows x 3 columns]
SYMBOL :  INDUSINDBK
HIT!
Growth :  37.970253718285214
    Symbol       Date  Closeval
0     NHPC 2016-07-11     25.35
1     NHPC 2016-07-12     25.60
2     NHPC 2016-07-13     25.25
3     NHPC 2016-07-14     25.45
4     NHPC 2016-07-15     25.20
..     ...        ...       ...
242   NHPC 2017-07-05     31.05
243   NHPC 2017-07-06     31.35
244   NHPC 2017-07-07     31.80
245   NHPC 2017-07-10     32.15
246   NHPC 2017-07-11     31.30

[247 rows x 3 columns]
SYMBOL :  NHPC
DIDN'T HIT!
    Symbol       Date  Closeval
0     ONGC 2016-05-30    213.45
1     ONGC 2016-05-31    210.75
2     ONGC 2016-06-01    210.65
3     ONGC 2016-06-02    212.80
4     ONGC 2016-06-03    211.85
..     ...        ...       ...
242   ONGC 2017-05-24    173.70
243   ONGC 2017-05-25    174.15
244   ONGC 2017-05-26    175.75
245   ONGC 2017-05-29    175.75
246   ONGC 2017-05-30    178.65

[247 rows x 3 columns]
SYMBOL :  ONGC
HIT!
Growth :  118.68647928786712
    Symbol       Date  Closeval
0     GAIL 2016-05-27    379.30
1     GAIL 2016-05-30    379.85
2     GAIL 2016-05-31    370.45
3     GAIL 2016-06-01    372.50
4     GAIL 2016-06-02    375.70
..     ...        ...       ...
241   GAIL 2017-05-22    390.20
242   GAIL 2017-05-23    380.35
243   GAIL 2017-05-24    390.65
244   GAIL 2017-05-25    401.00
245   GAIL 2017-05-26    401.75

[246 rows x 3 columns]
SYMBOL :  GAIL
HIT!
Growth :  82.27593152064449
    Symbol       Date  Closeval
0    CIPLA 2016-05-26    467.95
1    CIPLA 2016-05-27    473.45
2    CIPLA 2016-05-30    473.55
3    CIPLA 2016-05-31    472.65
4    CIPLA 2016-06-01    464.90
..     ...        ...       ...
242  CIPLA 2017-05-22    563.10
243  CIPLA 2017-05-23    533.20
244  CIPLA 2017-05-24    519.65
245  CIPLA 2017-05-25    504.00
246  CIPLA 2017-05-26    488.90

[247 rows x 3 columns]
SYMBOL :  CIPLA
DIDN'T HIT!
       Symbol       Date  Closeval
0    RELIANCE 2016-04-25   1016.90
1    RELIANCE 2016-04-26   1016.95
2    RELIANCE 2016-04-27   1019.40
3    RELIANCE 2016-04-28    996.70
4    RELIANCE 2016-04-29    982.70
..        ...        ...       ...
243  RELIANCE 2017-04-19   1368.80
244  RELIANCE 2017-04-20   1369.55
245  RELIANCE 2017-04-21   1402.50
246  RELIANCE 2017-04-24   1417.40
247  RELIANCE 2017-04-25   1432.80

[248 rows x 3 columns]
SYMBOL :  RELIANCE
HIT!
Growth :  41.86390532544379
       Symbol       Date  Closeval
0    HDFCBANK 2016-04-25   1093.25
1    HDFCBANK 2016-04-26   1113.85
2    HDFCBANK 2016-04-27   1124.20
3    HDFCBANK 2016-04-28   1113.95
4    HDFCBANK 2016-04-29   1132.35
..        ...        ...       ...
243  HDFCBANK 2017-04-19   1449.00
244  HDFCBANK 2017-04-20   1462.15
245  HDFCBANK 2017-04-21   1496.60
246  HDFCBANK 2017-04-24   1533.05
247  HDFCBANK 2017-04-25   1537.05

[248 rows x 3 columns]
SYMBOL :  HDFCBANK
HIT!
Growth :  40.49817184643509
         Symbol       Date  Closeval
0    INDUSINDBK 2016-04-22    981.50
1    INDUSINDBK 2016-04-25    982.35
2    INDUSINDBK 2016-04-26   1021.40
3    INDUSINDBK 2016-04-27   1040.00
4    INDUSINDBK 2016-04-28   1035.00
..          ...        ...       ...
242  INDUSINDBK 2017-04-17   1435.25
243  INDUSINDBK 2017-04-18   1431.75
244  INDUSINDBK 2017-04-19   1421.60
245  INDUSINDBK 2017-04-20   1427.60
246  INDUSINDBK 2017-04-21   1435.00

[247 rows x 3 columns]
SYMBOL :  INDUSINDBK
HIT!
Growth :  46.70918367346939
Broker :  KRChoksey HitRatio :  81 Avg. Growth :  53 Total Recos. :  53

In [27]:
brokerPerformace

        Name Hit Ratio Avg. Growth Total Recos
0  KRChoksey        81          53          53

In [28]:
brokerPerformace.to_sql(con=database_connection, name='brokerperformance2016', if_exists='replace')