In [1]:
import pandas as pd
import numpy as np
import glob
from glob import iglob
import os

from dateutil import parser
from datetime import datetime
from dateutil.relativedelta import relativedelta

import mysql.connector
from sqlalchemy import create_engine
import pandas.io.sql as psql
from dateutil import parser
import sqlalchemy
from datetime import datetime

In [2]:
path =r'C:\Users\yash\Desktop\2016-NSE-EOD-Data\*.txt'
all_rec = iglob(path, recursive=True)   
dataframes = (pd.read_csv(f) for f in all_rec)
big_dataframe = pd.concat(dataframes, ignore_index=True)

In [3]:
del big_dataframe['<open>']
del big_dataframe['<high>']
del big_dataframe['<low>']
del big_dataframe['<volume>']
del big_dataframe['<o/i>']

In [4]:
big_dataframe.columns = ['Symbol','Date','Closeval']
big_dataframe

                     Symbol      Date  Closeval
0                 20MICRONS  20160101     35.20
1                3IINFOTECH  20160101      5.15
2                   3MINDIA  20160101  11321.95
3                   8KMILES  20160101   2219.55
4                  A2ZINFRA  20160101     27.60
5                AARTIDRUGS  20160101    595.30
6                  AARTIIND  20160101    525.10
7                 AARVEEDEN  20160101     62.30
8                      ABAN  20160101    226.40
9                       ABB  20160101   1116.45
10               ABBOTINDIA  20160101   5895.95
11                    ABCIL  20160101    235.45
12                  ABGSHIP  20160101     72.00
13               ABIRLANUVO  20160101   2169.20
14                      ACC  20160101   1373.65
15                  ACCELYA  20160101    938.30
16                      ACE  20160101     46.60
17                ACROPETAL  20160101      3.25
18                 ADANIENT  20160101     90.10
19               ADANIPORTS  20160101    267.55
20               ADANIPOWER  20160101     34.00
21               ADANITRANS  20160101     41.05
22                 ADFFOODS  20160101     94.75
23                  ADHUNIK  20160101     15.05
24                      ADI  20160101    252.85
25                   ADLABS  20160101    139.40
26                 ADORWELD  20160101    328.50
27                     ADSL  20160101     55.85
28               ADVANIHOTR  20160101     55.80
29                  ADVANTA  20160101    446.85
...                     ...       ...       ...
390764          NIFTYENERGY  20161230  10271.55
390765      NIFTYFINSERVICE  20161230   7407.05
390766            NIFTYFMGC  20161230  20754.10
390767                NSEIT  20161230  10399.25
390768           NIFTYMEDIA  20161230   2610.75
390769           NIFTYMETAL  20161230   2652.50
390770          NIFTYPHARMA  20161230  10267.00
390771         NIFTYPVTBANK  20161230  10042.80
390772         NIFTYPSUBANK  20161230   2982.00
390773          NIFTYREALTY  20161230    165.35
390774     NIFTYCOMMODITIES  20161230   3033.80
390775     NIFTYCONSUMPTION  20161230   3517.20
390776            NIFTYCPSE  20161230   2346.45
390777           NIFTYINFRA  20161230   2712.25
390778             NIFTYMNC  20161230   9667.85
390779             NIFTYPSE  20161230   3692.70
390780      NIFTYSERVSECTOR  20161230  10412.90
390781       NIFTYSHARIAH25  20161230   3258.97
390782       NIFTY50SHARIAH  20161230   1890.97
390783      NIFTY500SHARIAH  20161230   2261.78
390784  NIFTY100EQUALWEIGHT  20161230  10875.74
390785             NSEDEFTY  20161230   4173.93
390786      NIFTY50DIVPOINT  20161230     90.21
390787       NIFTYDIVOPPS50  20161230   2104.55
390788         NIFTYALPHA50  20161230   8536.01
390789      NIFTYHIGHBETA50  20161230   1502.89
390790        NIFTYLOWVOL50  20161230   7758.30
390791       NIFTY50VALUE20  20161230   3652.00
390792      NIFTYGROWSECT15  20161230   5196.10
390793                  VIX  20161230     15.47

[390794 rows x 3 columns]

In [5]:
#Changing Date Format
big_dataframe['Date'] = pd.to_datetime(big_dataframe['Date'], format = "%Y%m%d")

In [6]:
database_username = 'smarsproddbuser@mbt-smars-mysql'
database_password = 'modern@1234'
database_ip       = 'mbt-smars-mysql.mysql.database.azure.com'
database_name     = 'mainschema'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [7]:
df1 = big_dataframe.iloc[:50000, :]
df2 = big_dataframe.iloc[50001:100000, :]
df3 = big_dataframe.iloc[100001:150000, :]
df4 = big_dataframe.iloc[150001:200000, :]
df5 = big_dataframe.iloc[200001:250000, :]
df6 = big_dataframe.iloc[250001:300000, :]
df7 = big_dataframe.iloc[300001:350000, :]
df8 = big_dataframe.iloc[350001:, :]
#cannot append such a large dataset in a single statement hence staggering

In [8]:
df1.to_sql(con=database_connection, name='nse2016', if_exists='append')

In [9]:
df2.to_sql(con=database_connection, name='nse2016', if_exists='append')

In [10]:
df3.to_sql(con=database_connection, name='nse2016', if_exists='append')

In [11]:
df4.to_sql(con=database_connection, name='nse2016', if_exists='append')

In [12]:
df5.to_sql(con=database_connection, name='nse2016', if_exists='append')

In [13]:
df6.to_sql(con=database_connection, name='nse2016', if_exists='append')

In [14]:
df7.to_sql(con=database_connection, name='nse2016', if_exists='append')

In [15]:
df8.to_sql(con=database_connection, name='nse2016', if_exists='append')