In [104]:
import pandas as pd
import numpy as np
import glob
from glob import iglob
import os

from dateutil import parser
from datetime import datetime
from dateutil.relativedelta import relativedelta

import mysql.connector
from sqlalchemy import create_engine
import pandas.io.sql as psql
from dateutil import parser
import sqlalchemy
from datetime import datetime

In [105]:
path =r'C:\Users\yash\Desktop\2017-NSE-EOD-Data\*.txt'
all_rec = iglob(path, recursive=True)   
dataframes = (pd.read_csv(f) for f in all_rec)
big_dataframe = pd.concat(dataframes, ignore_index=True)

In [106]:
del big_dataframe['<open>']
del big_dataframe['<high>']
del big_dataframe['<low>']
del big_dataframe['<volume>']
del big_dataframe['<o/i>']

In [107]:
big_dataframe.columns = ['Symbol','Date','Closeval']
big_dataframe

                     Symbol      Date  Closeval
0                 20MICRONS  20170102     33.85
1                3IINFOTECH  20170102      5.60
2                   3MINDIA  20170102  11056.45
3                   8KMILES  20170102    674.20
4                  A2ZINFRA  20170102     42.15
5                AARTIDRUGS  20170102    611.95
6                  AARTIIND  20170102    695.25
7                 AARVEEDEN  20170102     80.70
8                      ABAN  20170102    230.70
9                       ABB  20170102   1036.90
10               ABBOTINDIA  20170102   4716.00
11                    ABFRL  20170102    137.65
12                  ABGSHIP  20170102     30.80
13               ABIRLANUVO  20170102   1290.10
14                      ACC  20170102   1351.90
15                  ACCELYA  20170102   1450.05
16                      ACE  20170102     46.00
17                 ADANIENT  20170102     76.95
18               ADANIPORTS  20170102    273.80
19               ADANIPOWER  20170102     30.60
20               ADANITRANS  20170102     57.10
21                 ADFFOODS  20170102    143.75
22                  ADHUNIK  20170102      6.95
23               ADHUNIKIND  20170102    105.65
24                      ADI  20170102    506.25
25                   ADLABS  20170102     71.80
26                 ADORWELD  20170102    298.80
27                     ADSL  20170102     35.40
28               ADVANIHOTR  20170102     51.60
29               ADVENZYMES  20170102   1926.90
...                     ...       ...       ...
403368          NIFTYENERGY  20171229  14249.30
403369      NIFTYFINSERVICE  20171229  10475.15
403370            NIFTYFMGC  20171229  26851.50
403371                NSEIT  20171229  11665.75
403372           NIFTYMEDIA  20171229   3464.30
403373           NIFTYMETAL  20171229   3940.15
403374          NIFTYPHARMA  20171229   9620.10
403375         NIFTYPVTBANK  20171229  14139.65
403376         NIFTYPSUBANK  20171229   3700.55
403377          NIFTYREALTY  20171229    346.90
403378     NIFTYCOMMODITIES  20171229   4087.95
403379     NIFTYCONSUMPTION  20171229   5104.40
403380            NIFTYCPSE  20171229   2683.40
403381           NIFTYINFRA  20171229   3637.50
403382             NIFTYMNC  20171229  14801.90
403383             NIFTYPSE  20171229   4303.25
403384      NIFTYSERVSECTOR  20171229  13739.15
403385       NIFTYSHARIAH25  20171229   4320.91
403386       NIFTY50SHARIAH  20171229   2584.00
403387      NIFTY500SHARIAH  20171229   3231.19
403388  NIFTY100EQUALWEIGHT  20171229  14558.56
403389             NSEDEFTY  20171229   5716.78
403390      NIFTY50DIVPOINT  20171229     97.82
403391       NIFTYDIVOPPS50  20171229   2637.40
403392         NIFTYALPHA50  20171229  14257.54
403393      NIFTYHIGHBETA50  20171229   2396.70
403394        NIFTYLOWVOL50  20171229  10102.21
403395       NIFTY50VALUE20  20171229   4732.00
403396      NIFTYGROWSECT15  20171229   6576.85
403397                  VIX  20171229     12.67

[403398 rows x 3 columns]

In [119]:
#mydate  = datetime.strptime('20170103', "%Y%m%d").date()
big_dataframe['Date'] = pd.to_datetime(big_dataframe['Date'], format = "%Y%m%d")

In [109]:
database_username = 'smarsproddbuser@mbt-smars-mysql'
database_password = 'modern@1234'
database_ip       = 'mbt-smars-mysql.mysql.database.azure.com'
database_name     = 'mainschema'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [110]:
df1 = big_dataframe.iloc[:50000, :]
df2 = big_dataframe.iloc[50001:100000, :]
df3 = big_dataframe.iloc[100001:150000, :]
df4 = big_dataframe.iloc[150001:200000, :]
df5 = big_dataframe.iloc[200001:250000, :]
df6 = big_dataframe.iloc[250001:300000, :]
df7 = big_dataframe.iloc[300001:350000, :]
df8 = big_dataframe.iloc[350001:, :]

In [111]:
df1.to_sql(con=database_connection, name='nse2017', if_exists='append')

In [112]:
df2.to_sql(con=database_connection, name='nse2017', if_exists='append')

In [113]:
df3.to_sql(con=database_connection, name='nse2017', if_exists='append')

In [114]:
df4.to_sql(con=database_connection, name='nse2017', if_exists='append')

In [115]:
df5.to_sql(con=database_connection, name='nse2017', if_exists='append')

In [116]:
df6.to_sql(con=database_connection, name='nse2017', if_exists='append')

In [117]:
df7.to_sql(con=database_connection, name='nse2017', if_exists='append')

In [118]:
df8.to_sql(con=database_connection, name='nse2017', if_exists='append')